.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  top: 0;
  width: 100%;
  height: 10%;
  font-family: "League Spartan";
  

  .title {
    font-size: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    margin-left: 1rem;
    flex-basis: 20%;
  }

  .containerTheme {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-basis: 80%;
    

    .theme-text {
      font-size: 12px;
      font-weight: 700;
      margin-right: 1.5rem;
      bottom: 0;
      letter-spacing: 2px;
      
    }

    .switcherTheme {
      height: 100%;
      width: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-between;
      position: relative;
      gap: 5px;

      .numberOfTheme {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 10%;
        position: absolute;
        top: 0;

        p {
          height: 100%;
          font-size: 11px;
          display: flex;
          font-weight: 700;
          margin-bottom: 0.4rem;
        }
      }

      .buttonsTheme {
        height: 60%;
        max-width: 100%;
        width: 80px;
        border-radius: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.3rem;
        position: absolute;
        bottom: 0;

        button {
          max-width: 100%;
          max-height: 100%;
          height: 20px;
          width: 20px;
          border-radius: 50px;
          background-color: transparent;
          border: 0px;
          transition: all .2s ease-out;
          gap: 1px;

          &:hover {
            cursor: pointer;
            filter: brightness(1.1);
          }
        }  
      }
    }
  }
}



.header.theme-1 {
    color: hsl(0, 0%, 100%);
    
    .buttonsTheme {
      background-color: hsl(223, 31%, 20%);
      
      .btn.Active {
        background-color: hsl(6, 63%, 50%);
        
        &:hover {
          filter: brightness(1.8);
        }
      }

      .btn.Inactive {
        background-color: transparent;
      }
    }
}

.header.theme-2 {
  color: hsl(60, 10%, 19%);
    
    .buttonsTheme {
      background-color: hsl(0, 5%, 81%);

      .btn.Active {
        background-color: hsl(25, 98%, 40%);
        
        &:hover {
          filter: brightness(1.4);
        }
      }

      .btn.Inactive {
        background-color: transparent;
      }
    }
}

.header.theme-3 {
  color: hsl(52, 100%, 62%);
    
    .buttonsTheme {
      background-color: hsl(268, 71%, 12%);

      .btn.Active {
        background-color: hsl(176, 100%, 44%);
        
        &:hover {
          filter: brightness(1.5);
        }
      }

      .btn.Inactive {
        background-color: transparent;
      }
    }
}